usr/klibc/socketcalls/getsockopt.o
usr/klibc/socketcalls/listen.o
usr/klibc/socketcalls/recvfrom.o
usr/klibc/socketcalls/recvmsg.o
usr/klibc/socketcalls/sendmsg.o
usr/klibc/socketcalls/sendto.o
usr/klibc/socketcalls/setsockopt.o
usr/klibc/socketcalls/shutdown.o
usr/klibc/socketcalls/socket.o
usr/klibc/socketcalls/socketpair.o
usr/klibc/syscalls/.SYSCALLS.i.cmd
usr/klibc/syscalls/.syscalls.nrs.cmd
usr/klibc/zlib/.adler32.o.cmd
usr/klibc/zlib/.compress.o.cmd
usr/klibc/zlib/.crc32.o.cmd
usr/klibc/zlib/.deflate.o.cmd
usr/klibc/zlib/.gzio.o.cmd
usr/klibc/zlib/.infback.o.cmd
usr/klibc/zlib/.inffast.o.cmd
usr/klibc/zlib/.inflate.o.cmd
usr/klibc/zlib/.inftrees.o.cmd
usr/klibc/zlib/.trees.o.cmd
usr/klibc/zlib/.uncompr.o.cmd
usr/klibc/zlib/.zutil.o.cmd
usr/klibc/zlib/adler32.o
usr/klibc/zlib/compress.o
usr/klibc/zlib/crc32.o
usr/klibc/zlib/deflate.o
usr/klibc/zlib/gzio.o
usr/klibc/zlib/infback.o
usr/klibc/zlib/inffast.o
usr/klibc/.__static_init.o.cmd
usr/klibc/__static_init.o
usr/klibc/arch/aarch64/.crt0.o.cmd
usr/klibc/arch/aarch64/.setjmp.o.d
usr/klibc/arch/aarch64/crt0.o
usr/klibc/socketcalls/.SOCKETCALLS.i.cmd
usr/klibc/socketcalls/.accept.o.cmd
usr/klibc/socketcalls/.bind.o.cmd
usr/klibc/socketcalls/.connect.o.cmd
usr/klibc/socketcalls/.getpeername.o.cmd
usr/klibc/socketcalls/.getsockname.o.cmd
usr/klibc/socketcalls/.getsockopt.o.cmd
usr/klibc/socketcalls/.listen.o.cmd
usr/klibc/socketcalls/.recvfrom.o.cmd
usr/klibc/socketcalls/.recvmsg.o.cmd
usr/klibc/socketcalls/.sendmsg.o.cmd
usr/klibc/socketcalls/.sendto.o.cmd
usr/klibc/socketcalls/.setsockopt.o.cmd
usr/klibc/socketcalls/.shutdown.o.cmd
usr/klibc/socketcalls/.socket.o.cmd
usr/klibc/socketcalls/.socketpair.o.cmd
usr/klibc/socketcalls/accept.o
usr/klibc/socketcalls/bind.o
usr/klibc/socketcalls/connect.o
usr/klibc/socketcalls/getpeername.o
usr/klibc/socketcalls/getsockname.o
usr/klibc/zlib/inflate.o
usr/klibc/zlib/inftrees.o
usr/klibc/zlib/trees.o
usr/klibc/zlib/uncompr.o
linux/
scripts/basic/.fixdep.cmd
.config
debian/*.debhelper.log
klcc/.klcc.cmd
usr/klibc/zlib/zutil.o


